<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="VirtualPath" value="/"/>
    <add key="PhysicalPath" value="Root"/>
    <add key="Port" value="9000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>